* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /*hành động cuộn */
    font-family: Helvetica,Arial;
   
}
/*
1.làm từ ngoài vào trong
2.làm từ trên xuống dưới
3.làm từ tổng quan tới chi tiết
*/


/* 
1. vị trí
2. kích thước
3. màu sắc
4. kiểu dáng
*/

/* Common */
.clear {
    clear:both;
}
.text-while {
    color: #fff !important;
}
.text-center {
    text-align:center !important;
}
.mt-8 {
    margin-top:8px;
}
.mt-16 {
    margin-top:16px !important;
}
.mt-32 {
    margin-top:32px !important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.col {
    float:left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full {
    width:100%;
}
.col-half {
    width:50%;
}
.col-third { 
    width: 33.33333%;
}

/* main */
#main {

}

#header {
    height: 46px;
    background-color: #000;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index: 1;
    
}

#nav {
   display:inline-block;
}

#nav > li {
    display: inline-block; /* đưa các chữ lên thanh header */
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase ; /* làm cho chữ thành in hoa */
} 

#nav li a {   
    text-decoration: none; /* Xóa dấu gạch chân của chữ đi */
    line-height: 46px;
    padding: 3px 24px;
    display:block;
}

#nav li:hover .subnav {
    display:block; /* di chuột vào thì hiển thị ra (ngược với display: none)*/
}

#nav > li:hover > a,
#nav .subnav li:hover  {
    color: #000;
    background-color: #ccc;
    
}

#nav .subnav {
    display:none; /* ẩn nó đi */
    top:100%;
    left:0;
    position:absolute;
    background-color: #fff;
    list-style-type: none; /* xóa các ký hiệu dấu chấm mặc định */
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* chỉnh độ bóng hiển thị */
}  

#nav .subnav a {
    color:#000;
    padding-left: 15px;
}
#header .mobie-menu-btn,
#header > .search-btn {
    float: right;
    padding: 0 21px;
    margin-right:11px;
   
}

#header .mobie-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display:none;
}

#header .search-btn:hover {
    background-color:red;
    cursor:pointer;
}

#header .mobie-menu-btn:hover{
    background-color:#ccc;

}

#header .mobie-menu-btn:hover .menu-icon{
    color:#000;
}

#header .menu-icon,
#header .search-icon {
    color:#fff;
    font-size:20px;
    line-height:46px;
    
    
}


#slider {
    position: relative;
    margin-top:46px;
    padding-top:50%;
    background: url('../../assets/img/slider1.jpg') top center/ cover no-repeat;
}

#slider .text-content {
    position: absolute;
    color:#fff;
    bottom:47px;
    width: 100%;
    text-align: center;
}

#slider .text-content {
    font-weight: 500;
    font-size:24px;
}
#slider .text-description {
    font-size:15px;
    margin-top: 20px;
    text-shadow: 0 0 1px #000;
}
#content {

}

#content .content-section {
    width:800px;
    max-width:100%;
    padding: 64px 0 112px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 16px;
    padding-right: 16px;
    
}

#content .section-heading{
    text-align:center;
    font-size:30px;
    font-weight:500;
    padding: 10px 0;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align:center;
    font-size:16px;
    font-style: italic;
    padding-bottom: 20px;
    opacity:0.6; /* làm mờ chữ có tỉ lệ từ 0.0 - 1.0 */

}

#content .about-text{
    font-size:15px;
    text-align:justify; /* căn lề 2 bên cho 1 đoạn văn */
    line-height:20px
}


#content .member-name {
    font-size:15px;
    
}

#content .member-img {
    width: 154px;
    padding-top:15px; 
    border-radius: 10px;  
}
.tour-content {
    background-color: #000;
}
.tikets-list {
    background-color: #fff;
    list-style: none; /* Không hiện ra cái chấm đầu dòng */
  
}

.tikets-list li {
    color: #757575;
    font-size:15px;
    padding: 11px 16px;
    border-bottom:1px solid #ccc;
    
}

.tikets-list .sold-out {
    background-color:red;
    color:#fff;
    padding: 3px;
    margin-left:5px;

}

.tikets-list .quality {
    float: right;
    background-color: black;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Cho thẻ có dạng background-color hình tròn */
    text-align: center;
    line-height: 20px;
}
.places-list {
    margin-top:16px;
   
}
    
.place-img {
    width:100%;
    display:block;
}

.place-img:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    opacity:0.6;
}
.place-body {
    background-color:#fff;
    padding:16px;
}
.place-heading {

}
.place-time {
    color:#757575;
    margin-top:15px;
}
.place-desc {
    margin-top:15px;
    line-height: 1.4; /* Độ cách của dòng chữ */
}
.place-buy-btn {
    
    color:#fff;
    background-color: #000;
    text-decoration:none;
    padding:6px;
    display:inline-block; /* Cho nó không bị đè lên thẻ đằng trước */
    margin-top:15px;
}

.place-buy-btn:hover { /* Khi di chuột vô */
    color:#000;
    background-color: #ccc;
    cursor:pointer;
}

.modal.open {
    display:flex;
}
/* Phần modal để mua tikets */
.modal {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center; /* Nằm giữa */
    display:none;
    animation: modalFadeIn ease 0.5s ; /* Phần @keyframes phía dưới, cái số là khoảng time chạy hiện ra */
}

.modal .modal-container {
    background-color: #fff;
    width:80%;
    height:480px;
    position:relative;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-header-icon {
    margin-right:16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 15px;
    cursor:pointer; /* Chuyển con trỏ chuột thành bàn tay */
    opacity:0.9;
}

.modal-close:hover {
    color:#000;
    background-color:#ccc;
    padding:15px;
}

.modal-body {
    padding:16px;
}

.modal-label {
    display:block;
    font-size:15px;
    padding:10px;
    margin-bottom:12px;
}

.modal-input {
    width:100%;
    font-size:15px;
    padding:10px;
    margin-bottom:24px;
}
#buy-tikets {
    background: #009688;
    border: none;
    width: 100%;
    height: 50px;
    color: #fff;
    font-size:20px;
    padding:10px;
}

#buy-tikets:hover {
    color:#000;
    background-color: #757575;
    cursor:pointer;
}


.modal-footer {
    padding:16px;
    text-align: right;
    
}
.modal-footer .modal-help {
    color:blue;
}

/* Làm thành modal xuất hiện trượt từ trên ra giữa màn hình */
@keyframes modalFadeIn {
    from{
        opacity:0;
        transform: translateY(-150px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}

.contact-content {
    padding-top:48px;
}
.contact-info {
    font-size: 18px;
}
.contact-info i[class*="ti-"] {
    width:30px;
}
.contact-info a {
    color:#1832b1;
}
.contact-info a:hover {
    color:blue;
    
}
.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding:10px;
    border: 1px solid #ccc;
    width:100%;
}
.form-submit {
   background-color: #000;
   color:#fff;
   border: 1px solid #ccc;
   padding:10px;
   float:right;
}
.form-submit:hover {
    background-color:#ccc;
    color:#000;
    cursor:pointer;
}
.map-section img {
    margin-top:112px;
    width:100%;
}

#footer {
    text-align: center;
    padding:80px;
}

.socials-list a {
    font-size: 24px;
    color:#757575;
    text-decoration: none; /* bỏ gạch chân */
}

.socials-list a:hover {
    color:#ccc;
}

.copyright a {
    margin-top:5px;
    font-size: 18px;
    color:#757575;
}
.copyright a:hover {
    color:#ccc;
}